aiohttp==3.5.4
airtable-python-wrapper==0.11.3.post1
alpaca-backtrader-api==0.3
alpaca-trade-api==0.28
alpha-vantage==2.1.0
appdirs==1.4.3
arrow==0.14.2
async-timeout==3.0.1
asyncio-nats-client==0.9.0
atomicwrites==1.3.0
backtrader==1.9.73.123
beautifulsoup4==4.4.1
binaryornot==0.4.4
bs4==0.0.1
bumpversion==0.5.3
cachetools==3.1.0
cassandra-driver==3.18.0
click==7.0
cookiecutter==1.6.0
cssselect==1.0.3
cycler==0.10.0
defusedxml==0.6.0
docutils==0.14
ebooklib==0.17.1
elasticsearch==7.0.2
epub-extract-jpeg==0.6.2
fake-useragent==0.1.11
feedfinder2==0.0.4
feedparser==5.2.1
finviz==1.2.3
fire==0.1.3
fix-yahoo-finance==0.1.32
future==0.17.1
futures==3.1.1
google==2.0.2
google-api-core==1.11.1
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
google-cloud-core==1.0.1
google-cloud-logging==1.11.0
google-search-api==1.1.14
googleapis-common-protos==1.6.0
googlenews==1.1.1
googletrans==2.4.0
goslate==1.5.1
grab==0.6.41
grpcio==1.21.1
html5lib==0.9999999
httplib2==0.12.3
idna==2.7
iexfinance==0.4.0
importlib-metadata==0.18
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
jieba3k==0.35.1
jinja2-time==0.2.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
kiwisolver==1.1.0
libgen-py==0.1.0
libgenapi==1.2.1
lxml==4.3.3
matplotlib==3.0.3
mechanize==0.4.2
minecart==0.3.0
more-itertools==7.0.0
multidict==4.5.2
multitasking==0.0.7
nbconvert==5.5.0
nest-asyncio==1.0.0
networkx==2.0
newspaper3k==0.2.8
nltk==3.4.1
nose==1.3.7
notebook==5.7.8
oauth2client==4.1.3
oauthlib==3.0.1
ondemand==1.0.0
onedrivesdk==1.1.8
opencv-python==4.1.0.25
packaging==19.0
pandas==0.24.2
pandas-datareader==0.7.0
parse==1.12.0
parso==0.4.0
pdfminer3k==1.3.1
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
pocket==0.3.6
postman-problems==0.3
poyo==0.4.2
prettytable==0.7.2
prometheus-client==0.6.0
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycurl==7.43.0.1
pydictionary==1.5.2
pydot==1.4.1
pydrive==1.3.1
pyee==6.0.0
pygments==2.3.1
pymysql==0.9.3
pyparsing==2.4.0
pypdf2==1.26.0
pypdf4==1.27.0
pyppeteer==0.0.25
pyquery==1.4.0
pyrsistent==0.15.1
pytest==4.6.3
python-hn==0.0.3
python-http-client==3.1.0
python-json-logger==0.1.11
python-qbittorrent==0.3.1
pytils==0.3
pytrends==4.4.0
pytube==9.5.0
pytz==2019.1
pyyaml==5.1
pyzmq==18.0.1
qbittorrent==0.1.6
qtconsole==4.4.4
readme-renderer==24.0
requests-file==1.4.3
requests-html==0.10.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.0
scipy==1.2.1
selection==0.0.14
selenium==2.53.6
sendgrid==6.0.5
six==1.12.0
tabulate==0.7.5
terminado==0.8.2
tinysegmenter==0.3
tldextract==2.2.1
tornado==6.0.2
traitlets==4.3.2
twine==1.13.0
unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.23
user-agent==0.1.9
vcrpy==2.0.1
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
weblib==0.1.30
websocket-client==0.56.0
websockets==7.0
whichcraft==0.5.2
widgetsnbextension==3.4.2
wikipedia-api==0.5.1
yahoo-fin==0.8.2
yarl==1.3.0
youtube-dl==2019.6.8
zipp==0.5.1